%html
  %body
    %h1= @msg

%table
  - @people.each do | people |
    %tr
      %td= people.id
      %td= people.name 
      %td= people.age
      %td= people.mail
      %td
        =link_to people.name , "/people/#{people.id}"