%h1 Cards
%p 現在登録されているカード一覧です。
%table{:width => "100%"}
  %tr
    %th ID
    %th タイトル
    %th 著者
  - @cards.each do |card|
    %tr
      %td{:width => "35px"}= card.id
      %td{:width => "50%"}
        %a{:href => "/cards/#{card.id}"}= card.title
      %td= card.author
      %td{:width => "40px"}
        %a{:href => "/cards/edit/#{card.id}"} 編集
      %td{:width => "40px"}
        %a{:href => "/cards/delete/#{card.id}"} 削除
%span
  %p.link.button
    %a.click-button{:href => "/cards/add"} 新しいデーターを入力
